<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chocolateam.galileogame">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/callisto_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/callisto_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainMenu"
            android:screenOrientation="portrait"/>
        <activity android:name=".DescriptionActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".InfoActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>